.container {
  width: 100vw;
  height: 100vh;
}

mat-drawer {
  width: 240px;
  padding: 40px;
}

mat-drawer-content {
  padding: 40px;
}

mat-drawer-content div:first-child {
  margin-bottom: 40px;
}
